@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,700;1,9..144,400&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(248, 248, 248); */
}

body{
  background-color: rgb(243, 236, 236);
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.header{
  display: block;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  line-height: 2rem;
  font-size: 1.3rem;
  z-index: 2;
}

/* .header-link:hover {
  cursor: pointer;
} */

.header:hover {
  cursor: pointer;
}

.search-recipe {
  text-align: center;
  padding-top: 20px;
}

.search-recipe h3{
  margin-bottom: 5px;
}

.search-recipe input {
  /* width: 250px; */
  font-size: 1.2rem;
  height: 35px;
  padding: 20px;
  border-radius: 10px;
}

.eating{
  width: 260px;
  min-height: 200px;
  margin: 20px;
  padding: 20px;
  border: 3px solid gray;
  display: flex;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: white;
}

.eating:hover{
  cursor:pointer
}

.add-eating{
  margin: auto;
  color: gray;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 20px;
  justify-content: center;
}

.recipe {
  padding: 15px;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.nameEating {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.7rem;
  font-weight: 700;
  background-color: white;
  padding: 4px 8px;
  border-radius: 6px;
}

.recipeImg{
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.recipe h3 {
  font-size: 1rem;
  margin-top: 5px;
}

.ccal {
  font-size: 0.8rem;
  margin-top: 5px;
}

.btns{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-recipe{
  background-color: green;
  color: white;
  padding: 0.7rem 1.2rem;
  /* margin: 5px 20px; */
  border-radius: 30px;
  font-size: 0.75rem;
  border: none;
}

.btn-add-recipe{
  background-color: green;
  color: white;
  /* padding: 0.8rem; */
  font-size: 1.8rem;
  width: 40px;
  border-radius: 200px;
  border: none;
  line-height: 2.4rem;
}

.btn-recipe:hover,
.btn-add-recipe{
  cursor: pointer;
}

.ingredients{
  font-size: 0.7rem;
  max-height: 500px;
  transition: .5s all;
  margin-top: 10px;
}
.ingredients-none{
  
  /* transition: height 0.5s 0.5s ease-out; */
  transition: .5s all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;

}

.ingredients li{
  margin-left: 15px;
  
}

.recipeInfo{
  padding: 20px 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipeInfo-body{
  text-align: center;
}

.recipeInfo_container{
  width: 300px;
  padding: 10px;
  flex-basis: 400px;
  flex-shrink: 0;
  text-align: left;
}

.recipeInfo__img{
  border-radius: 20px;
  margin-bottom: 20px;
}

.container-callories{
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px 30px;
}

.callories-item{
  /* padding: 10px; */
  text-align: center;
}

.callories-item p{
  font-size: 0.7rem;
}

.recipeInfo__ingredients,
.recipeInfo__instruction{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.ingredients-list{
  margin: 10px 0 0 20px;
  font-size: 1rem;
}

.ingredients-list li{
  line-height: 1.4rem;
}

.instruction-item{
  margin-top: 10px;
}

.instruction-item p{
  margin-top: 10px;
  line-height: 1.4rem;

}

@media screen and (max-width: 580px){
  .recipe,
  .recipeInfo_container,
  .eating {
    flex-basis: 90%;
  }

  .search-recipe input{
    width: calc(100% - 40px);
  }

  .recipes,
  .App {
    padding: 0;
  }

  .recipeInfo{
    padding: 10px
  }
}


