@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,700;1,9..144,400&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  background-color: rgb(248, 248, 248);

}

.recipe {
  padding: 15px;
  width: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.nameEating {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.7rem;
  font-weight: 700;
  background-color: white;
  padding: 4px 8px;
  border-radius: 6px;
}

.recipeImg{
  width: 230px;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.recipe h3 {
  font-size: 1rem;
  margin-top: 5px;
}

.ccal {
  font-size: 0.8rem;
  margin-top: 5px;
}

.btns{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-recipe{
  background-color: green;
  color: white;
  padding: 0.7rem 1.2rem;
  /* margin: 5px 20px; */
  border-radius: 30px;
  font-size: 0.75rem;
  border: none;
}

.btn-add-recipe{
  background-color: green;
  color: white;
  /* padding: 0.8rem; */
  font-size: 1.8rem;
  width: 40px;
  border-radius: 200px;
  border: none;
  line-height: 2.4rem;
}

.btn-recipe:hover,
.btn-add-recipe{
  cursor: pointer;
}

.ingredients{
  font-size: 0.7rem;
  max-height: 500px;
  transition: .5s all;
  margin-top: 10px;
}
.ingredients-none{
  
  /* transition: height 0.5s 0.5s ease-out; */
  transition: .5s all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;

}

.ingredients li{
  margin-left: 15px;
  
}